<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">{{title}}</h1>
      <p class="lead">Disfruta de los animales mas exoticos de nuestro zoo</p>
      <div class="row">
        <div class="col-md-4 text-center"><a class="btn btn-primary btn-lg" role="button" [routerLink]="['/animales']">Ver animales</a></div>
        <div class="col-md-4 text-center"><a class="btn btn-success btn-lg" role="button" [routerLink]="['/cuidadores']">Ver cuidadores</a></div>
        <div class="col-md-4 text-center"><a class="btn btn-warning btn-lg" role="button" [routerLink]="['/contacto']">Contactanos</a></div>
      </div>
    </div>
  </div>
